@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Rubik", Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Georgia, Times, serif;
	--mono: Menlo, Consolas, Monaco, "Courier New", monospace;
	
	/* z-index */
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	/* presets */
	--border-radius: 0px;
	--border-size: 8px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);
  --color-link: var(--color-green);
  --color-focus: var(--color-red);
  --color-form-bg: var(--color-gray-100);
	--color-form-fg: var(--color-gray-900);
	--color-border: var(--color-gray-300);
	--color-selection: var(--color-gray-300);
  --color-highlight: var(--color-green-light);
	--bold: 600;
	--extrabold: 800;
}


main {
	padding: 0 1em;
}

h1, h2, h3 {
	font-weight: var(--extrabold);
}

table tr:nth-of-type(even) {
	background: var(--color-gray-100);
}

a {
	color: currentColor;
}



.prose {
	max-width: 30rem;
	margin: 1rem auto;
}

.prose h1,
.prose h2,
.prose h3,
.prose p {
	margin: 1rem auto;
}

.prose h1 {
	font-size: 2em;
	text-transform: uppercase;
}

.prose h2 {
	font-size: 1.5em;
}

.prose p {
	font-size: 1em;
}

section {
	margin: 2rem auto;
	margin-bottom: 4rem;
}

mark {
	padding: 0;
	margin: 0 0.5em;
	box-shadow: -0.25em 0px 0px var(--color-highlight), 0.25em 0px 0px var(--color-highlight);
}

@media only screen and (min-width: 768px) {
	.prose {
		max-width: 40rem;
	}
	
	.prose h1 {
	font-size: 2.75em;
	}

	.prose h2 {
		font-size: 2em;
	}

	.prose p {
		font-size: 1.5em;
	}
}